:root {
  --main-bg: #FFF;
  --second-bg: #D2D5DA;
  --third-bg: #E5E7EB;
  --background-button: #1D1D1F;
  --second-background-button: #394150;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("./resources/background-image.png");
  background-color: var(--third-bg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

h1 {
  color: #FFF;
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 1.5rem;

  & span {
    background-color: var(--background-button);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 100;
  }
}

h2, h3 {
  font-size: 1rem;
}

button {
  background-color: var(--background-button);
  color: var(--main-bg);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}

main {
  background-color: var(--main-bg);
  border-radius: 15px;
  margin-top: 40px;
  display: flex;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

/* HISTORY */

.content-history {
  background-color: var(--third-bg);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px 0 0 15px;
  width: 100%;
}

.article-history {
  display: flex;
  gap: 20px;
  justify-content: space-between;

}

.img-wrapper {
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 10px 0;
  width: 125px;
  justify-content: center;
}

.article-history_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.article-history_info-text {
  display: flex;
  justify-content: space-between;
}

.article-history_info-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.article-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.article-summary_coupon {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  & input {
    border: var(--third-bg);
    flex: 1;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
}

.article-summary_total {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.article-summary_total-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CONTACT */

.content-contact {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;

  & h2 {
    font-size: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;

  & label {
    font-size: 14px;
    font-weight: 600;
    color: var(--background-button);
  }

  & input {
    border: solid 1px var(--second-bg);
    background-color: var(--third-bg);
    color: #000;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 16px;
    width: 100%;
  }

  & button {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-grid {
  display: flex;
  gap: 20px;

  & select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: var(--third-bg);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><path fill='black' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6l-6-6z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    border: 1px solid var(--second-bg);
    border-radius: 10px;
    padding: 20px 10px;
    width: 100%;
  }

}

.form-grid>* {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .content-history {
    border-radius: 15px 15px 0 0;
    width: auto;
  }

  .content-contact {
    border-radius: 0 0 15px 15px;
    width: auto;
  }
}