:root {
  --main-bg: #FFF;
  --second-bg: #D2D5DA;
  --third-bg: #E5E7EB;
  --background-button: #1D1D1F;
  --second-background-button: #394150;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("./resources/background-image.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #FFF;
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 700;

  & span {
    background-color: var(--background-button);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 100;
  }
}

main {
  background-color: var(--main-bg);
  border-radius: 15px;
  margin: 20px;
  display: flex;
}

/* HISTORY */

.content-history {
  background-color: var(--second-bg);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px 0 0 15px;
}

.article-history {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 500px;

  & img {
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px 30px;
    object-fit: cover;
  }
}

.article-history_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.article-history_info-text {
  display: flex;
  justify-content: space-between;
}

.article-history_info-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-summary {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.article-summary_coupon {
  display: flex;
  justify-content: space-between;
  gap: 5px;

  & input {
    border: var(--third-bg);
    flex: 1;
  }

  & button {
    display: inline-block;
  }
}

/* CONTACT */